
main .register{
    background-color:white;
    margin: 60px 0;
    padding: 0 20px;
}

.register .head{
    position: relative;
}

.register .title{
    margin-top: 20px;
    font-size: 25px;
    line-height: 35px;
}

.register .reminder{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 16px;
    color: red;
}

.register form{
    padding: 10px 0;
    font-size: 20px;
}

.register form div{
    padding: 10px 0;
}

.register form input[type="text"]{
    width: 200px;
    height: 30px;
    font-size: 16px;
}

.register form .verify input{
    width: 110px;
    height: 30px;
    font-size: 16px;
}

.register form .btn-register{
    text-align: center;
}

.register form .btn-register input{
    color: #fff;
    background-color: rgb(57, 152, 124);
    width: 100%;
    font-size: 20px;
    padding: 5px 0;
    border: 0;
    outline-style: none;
}

.register form .btn-register input:hover{
    background-color: rgb(107, 162, 144);
    color: rgb(187, 181, 181);
}

.register form .btn-register input:active{
    background-color: rgb(107, 162, 144);
    color: rgb(132, 126, 126);
}

.verify{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.verify img{
    width: 100px;
    height: 30px;
}